$header-footer-gap: 2rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px) !default;


$color-note: blue;
$color-tip: green;
$color-important: purple;
$color-warning: shade-color(yellow, 40
);
$color-caution: red;

$text-note: "Note";
$text-tip: "Tip";
$text-important: "Important";
$text-warning: "Warning";
$text-caution: "Caution";
